html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-layout {
  min-height: 100%;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
}
.logo {
  display: flex;
  align-items: center;
}
.tagline {
  font-weight: 600;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(left, #f093fb, #f5576c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50vw;
}
.custom-menu {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border-bottom: none;
}
.custom-menu-item {
  display: flex;
  align-items: center;
  color: black !important;
  font-weight: 500;
  font-size: 16px;
}
.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: none !important;
}
@media (max-width: 768px) {
  .ant-anchor-wrapper {
    position: relative;
  }

  .ant-anchor-ink {
    display: none !important;
  }

  .ant-anchor-link::before {
    content: none !important;
  }
  .custom-header {
    padding: 10px;
    flex-wrap: wrap;
  }

  .logo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .tagline {
    display: none;
  }
  .custom-menu {
    display: none;
  }
  .menu-button {
    display: block !important;
    font-size: 20px;
    border: none;
    background: transparent;
  }
}
.menu-button {
  display: none;
}
.custom-drawer .ant-drawer-content {
  background: #f9f9f9;
  border-radius: 12px 0 0 12px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.ant-anchor-link-title {
  color: #f5576c !important;
}
.drawer-menu {
  padding: 20px;
}
.drawer-menu .ant-menu-item {
  font-size: 18px;
  padding: 12px 20px;
  text-align: center;
  font-weight: 500;
  transition: background 0.3s;
}

.drawer-menu .ant-menu-item:hover {
  background: #f5576c !important;
  color: white !important;
}

/* Close Drawer on Link Click */
.drawer-menu .ant-menu-item a {
  width: 100%;
  display: block;
}
