/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
  min-height: 100%;
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to start and end */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
}
.custom-menu {
  flex-grow: 1; /* Allow the menu to take up available space */
  display: flex;
  justify-content: flex-end; /* Align menu items to the end */
  background-color: transparent;
  border-bottom: none;
}
.custom-menu-item {
  display: flex;
  align-items: center;
  color: black !important;
  font-weight: 500;
  font-size: 16px;

}

.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: none !important;
}

.ant-anchor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-anchor-link-title {
  color: #f5576c !important;
}

.logo {
  display: flex;
  align-items: center;
}

